<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Opencart Automation Suite">
    <test name="Nouran Tests">
        <classes>
            <class name="Tests.RegisterTest"/>
            <class name="Tests.ShoppingCartTest"/>
        </classes>
    </test>
    <test name="Maryhan Tests">
        <classes>
			<class name="Tests.MenuOptionsTest"/>
			<class name="Tests.ProductCompareTest"/>
        </classes>
    </test>
    <test name="Arabi Tests">
        <classes>
            <class name="Tests.TC_L01_LoginTest"/>
            <class name="Tests.TC_L05_LogoutTest"/>
            <class name="Tests.TC_S01_SearchTest"/>
            <class name="Tests.TC_H01_HomepageTest"/>
            <class name="Tests.TC_C01_CurrencyTest"/>
        </classes>
    </test>
    <test name="Sobhy Tests">
        <classes>

        </classes>
    </test>
    <test name="Hazem Tests">
        <classes>
            <class name="Tests.CategoryTest"/>
            <class name="Tests.AddToCartTest"/>
            <class name="Tests.CheckoutTest"/>
            <class name="Tests.OrderHistoryTest"/>
        </classes>
    </test>
</suite>
